.smallLogo {
    max-width: 15%;
}

.avatar {
    max-width: 80%;
}

.view {
    margin-top: 0px;
    margin-bottom: 0px;
}

//.alignright {
//    text-align: right;
//}

.thumbnail {
    max-width: 90%;
}

.label {
    margin-bottom: 90px;
    font-size: 24px;
    font: arial;
}

.showall {
    margin-right: 50%;
    margin-left: 35%;
}

.card-content-md {
    padding-top: 0%;
    padding-bottom: 0%;
    padding-inline-start: 0%;
    padding-inline-end: 0%;
    max-width: 100%;
}

#view {
    margin-top: 23%;
    margin-bottom: 0%;
}

.p {
    margin: 0%;
    max-width: 100%;
}

h1 {
    margin-top: 5px;
    margin-bottom: 0px;
}