<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img src="./assets/logo.png" class="smallLogo"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>secondpage</h1>
  <br>
  <ion-card *ngFor="let img of image">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-float-md-left">
            <div>
              <img src="assets/{{ img }}.png" alt="thumbnail" class="thumbnail" tappable (click)="openPreview(img)"/>
            </div>
          </ion-col>
          <ion-col class="ion-float-md-right">
            <div>
              <p>ID :</p>
              <p>KET :</p>
            </div>
          </ion-col>
          <div id="view">
              <ion-button slot="end" fill="outline" href="/menu/fourth" fill="clear">View</ion-button>
          </div>
        </ion-row>  
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-grid>
      <ion-row center>
        <ion-col class="ion-text-center">
          <ion-button fill="outline" href="/menu/third">Show All</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> 
</ion-content>
