<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>       
    </ion-buttons>
    <ion-title><img src="../assets/logo.png" alt="logo" class="smalllogo"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h1>thirdpage</h1>
    <br>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src="../assets/avatar2.png" alt="thumbnail" tappable (click)="openPreview(img)">
            </ion-col>
            <ion-col>
              <img src="../assets/avatar2.png" alt="thumbnail" tappable (click)="openPreview(img)">
            </ion-col>
            <ion-col>
              <img src="../assets/avatar2.png" alt="thumbnail" tappable (click)="openPreview(img)">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              ID 
            </ion-col>
            <ion-col>
              KET 
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>